# ===============================
# Model weights
# ===============================
Model/Model_Ours/*.pth
Model/Model_Ours/*.pt
!Model/Model_Ours/model_ours.pth
!Model/Model_Ours/model_arkit.pt

# ===============================
# Python cache
# ===============================
__pycache__/
*.pyc
*.pyo

# ===============================
# Training / Generated artifacts
# ===============================
dataset_*/
runs/
outputs/
Models/


*.npz
*.npy
*.pkl
*.bvh

# ===============================
# Past / backup code
# ===============================
past_code/

# ===============================
# Virtual environments
# ===============================
.venv/
venv/
env/

# ===============================
# IDE / OS
# ===============================
.vscode/
.idea/
.DS_Store
*.blend
inference/blenderViewer_*